<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <!-- v8 -->
    <add key="InfluxDb.v8.UserName" value="username" />
    <add key="InfluxDb.v8.Password" value="password" />
    <add key="InfluxDb.v8.Uri" value="http://influxv08.com:8086/" /> <!-- 8086 -->
    <add key="InfluxDb.v8.DbName" value="dbname" />
    
    <!-- v9 -->
    <add key="InfluxDb.v9.UserName" value="username" />
    <add key="InfluxDb.v9.Password" value="password" />
    <add key="InfluxDb.v9.Uri" value="http://influxv09:8086/" />
    <add key="InfluxDb.v9.DbName" value="dbname" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
